.game-container{
  margin: 50px auto;
  width: 100%;
  max-width: 400px;
  background: rgb(255,0,182);
  background: -moz-linear-gradient(180deg, rgba(255,0,182,0.6811974789915967) 20%, rgba(255,0,182,1) 53%, rgba(209,0,169,1) 82%);
  background: -webkit-linear-gradient(180deg, rgba(255,0,182,0.6811974789915967) 20%, rgba(255,0,182,1) 53%, rgba(209,0,169,1) 82%);
  background: linear-gradient(180deg, rgba(255,0,182,0.6811974789915967) 20%, rgba(255,0,182,1) 53%, rgba(209,0,169,1) 82%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff00b6",endColorstr="#d100a9",GradientType=1); 
  padding: 20px;
  border-radius: 20px;
}
.game-container h2 {
  color: rgb(0, 0, 0);
}

.game-li {
  display: flex;
  flex-direction: column;
  gap: 10px;;
}
.game-li li {
  cursor: pointer;
  border-radius: 10px;
  list-style: none;
  padding: 10px;
  background-color: white;
}